*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header{
    background-color: #E8E8E8;
}

h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 45px;
}

.inicio a{
    text-decoration: none;
    color: white;
}

.homepage{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #cd84cb;
    border-radius: 90px;
    padding: 15px 15px;
    margin-top: 25px;
    margin-bottom: 10px;
}


.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.principal > .botao {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}


.principal > .botao button,
.principal > .botao .person-btn {
    width: 40px;
    height: 40px; 
    font-size: 35px;
    background-color: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 1px;
}

.principal > .botao .person-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    margin-left: 70px;
}

.principal > .botao .person-text {
    color: white;
    font-size: 16px

}

.botao a button:hover{
    transform: scale(1.1);
}


nav{
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    border-radius: 90px;
    background-color: #84cd86;
}
nav .menu2{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: white;
}


nav .logo2{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
nav ul{
    list-style: none;
    
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    margin: 15px;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 60px;
}



nav ul li a:hover{
    color: rgba(8, 122, 74, 0.753);
    width: 3px;
}

body{
    background-color: #E8E8E8;
    font-family: "Quicksand", sans-serif;
}




.title h1{
    color: #cd84cb;
    font-weight: bold;
    padding-top: 10px;
    max-width: 1100px;
    margin: 0 auto;
    font-size: 25px;
    border-bottom: 2px solid #cd84cb;
    text-align: center;
}

.opcoes a {
    color: white;
    text-decoration: none;
}

.opcoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #84cbcd;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
}

.opcoes a:hover {
    transform: scale(1.1);
    color: rgb(93, 93, 219);
}


.acervo {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.acervo section {
    background-color: #ffffff; 
    border: 2px solid #cd84cb;  
    border-radius: 15px;       
    padding: 15px;
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.acervo section h2 {
    color: #cd84cb;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.acervo section p {
    color: #000000;
    font-size: 15px;
    line-height: 1.5;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1100px;
    margin: 30px auto 0;
}

.imgs img{
    width: 330px;
    display: block;
    border-radius: 30px;
    margin: 0;
}


.imgacervo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border: 2px solid #cd84cb;
    padding: 4px;
    border-radius: 15px;
    margin-bottom: 30px;
    background-color: white;
}

.imgacervo img{
    width: 130px;
    height: 180px;
    margin: 10px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    
}

.imgacervo h3{
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    margin-top: 8px;
    margin-left: 290px;
    margin-right: 290px;
    padding: 8px 8px;
    background-color: #cd84cb;
    border-radius: 30px;
}

figure{
    width: 150px;
    text-align: center;
    margin-bottom: 8px;
    margin: 15px;
}



.imggibi{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border: 2px solid #cd84cb;
    padding: 4px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: white;
}

.imggibi img{
    width: 130px;
    height: 180px;
    margin: 10px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    
}

.imggibi h3{
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    margin-top: 8px;
    margin-left: 290px;
    margin-right: 290px;
    padding: 8px 8px;
    background-color: #cd84cb;
    border-radius: 30px;
}


.imgmanga{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border: 2px solid #cd84cb;
    padding: 4px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.imgmanga img{
    width: 130px;
    height: 180px;
    margin: 10px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    
}

.imgmanga h3{
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    margin-top: 8px;
    margin-left: 290px;
    margin-right: 290px;
    padding: 8px 8px;
    background-color: #cd84cb;
    border-radius: 30px;
}


.imgjogo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border: 2px solid #cd84cb;
    padding: 4px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;

}

.imgjogo figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgjogo img{
    width: 150px;
    height: auto;
    margin: 10px;
    object-fit: contain;
    display: block;
    margin-bottom: 10px;
    
}

.imgjogo h3{
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    margin-top: 8px;
    margin-left: 290px;
    margin-right: 290px;
    padding: 8px 8px;
    background-color: #cd84cb;
    border-radius: 30px;
}


.imgtab{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 2px solid #cd84cb;
    padding: 4px;
    border-radius: 15px;
    background-color: white;

}


.imgtab img{
    width: 160px;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
    display: block;
    margin-bottom: 15px;
    
}

.imgtab h3{
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    margin-top: 8px;
    margin-bottom: 25px;
    margin-left: 290px;
    margin-right: 290px;
    padding: 8px 8px;
    background-color: #cd84cb;
    border-radius: 30px;
}


footer {
    background-color: #cd84cb;
    color: #fff;
    padding: 40px 60px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.rodape-layout{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;  
}

.menu-rodape{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rodape-layout a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.rodape-layout a:hover{
    color: rgba(8, 122, 74, 0.753);
}

.rodape-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
}

.botoes{
    display: flex;
    gap: 10px;
}

.botoes a button{
    width: 40px;
    height: 40px; 
    font-size: 35px;
    background-color: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 1px;

}

.botoes a button:hover{
    transform: scale(1.1);
}

.endereco{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    font-weight: bold;
}

.copy{
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid;
    padding-top: 20px;
}

.copy p{
    font-size: 16px;
    margin: 0;
}