*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


header{
    background-color: #E8E8E8;
}

h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 45px;
}

.inicio a{
    text-decoration: none;
    color: white;
}

.homepage{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #cd84cb;
    border-radius: 90px;
    padding: 15px 15px;
    margin-top: 25px;
    margin-bottom: 10px;
}


.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.principal > .botao {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}


.principal > .botao button,
.principal > .botao .person-btn {
    width: 40px;
    height: 40px; 
    font-size: 35px;
    background-color: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 1px;
}

.principal > .botao .person-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    margin-left: 70px;
}

.principal > .botao .person-text {
    color: white;
    font-size: 16px

}

.botao a button:hover{
    transform: scale(1.1);
}


nav{
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    border-radius: 90px;
    background-color: #84cd86;
}
nav .menu2{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: white;
}


nav .logo2{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
nav ul{
    list-style: none;
    
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    margin: 15px;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 60px;
}

nav ul li a:hover{
    color: rgba(8, 122, 74, 0.753);
    width: 3px;
}

body{
    background-color: #E8E8E8;
    font-family: "Quicksand", sans-serif;
}

.title h1{
    color: #cd84cb;
    font-weight: bold;
    padding-top: 10px;
    max-width: 1100px;
    margin: 0 auto;
    font-size: 25px;
    border-bottom: 2px solid #cd84cb;
    text-align: center;
}

.historia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px auto;
    max-width: 1100px;
    gap: 65px;
    padding: 0px 0px;
    background-color: #84cbcd;
    border-radius: 30px;
    
}

.titulohist{
    color: #cd84cb;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 2px;
    padding-right: 30px;
    font-size: 25px;
    max-width: 1100px;
    text-align: left;
    margin: 0 auto;
    

}

.imghist img{
    width: 370px;
    display: block;
    border-radius: 30px;
    height: 90%;
    

}

.txthist {
    margin-right: 60px;
    text-align: justify;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    
}



.missao{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 6px auto;
    max-width: 1100px;
    gap: 65px;
    padding: 0px 0px;
    background-color: #84cd86;
    border-radius: 30px;
    
}

.missaotitle{
    color: #cd84cb;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 2px;
    padding-left: 30px;
    font-size: 25px;
    max-width: 1100px;
    text-align: right;
    margin: 0 auto;
    

}

.imgmissao img{
    width: 370px;
    display: block;
    border-radius: 30px;
    height: 90%;
    

}

.txtmissao {
    margin-left: 60px;
    text-align: justify;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    
}


.publico{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px auto 60px;
    max-width: 1100px;
    gap: 65px;
    padding: 0px 0px;
    background-color: #84cbcd;
    border-radius: 30px;
    
}

.publicotitle{
    color: #cd84cb;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 2px;
    padding-right: 30px;
    font-size: 25px;
    max-width: 1100px;
    text-align: left;
    margin: 0 auto;
    

}

.imgpublico img{
    width: 370px;
    display: block;
    border-radius: 30px;
    height: 90%;
    

}

.txtpublico {
    margin-right: 60px;
    text-align: justify;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    
}




footer {
    background-color: #cd84cb;
    color: #fff;
    padding: 40px 60px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.rodape-layout{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;  
}

.menu-rodape{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rodape-layout a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.rodape-layout a:hover{
    color: rgba(8, 122, 74, 0.753);
}

.rodape-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
}

.botoes{
    display: flex;
    gap: 10px;
}

.botoes a button{
    width: 40px;
    height: 40px; 
    font-size: 35px;
    background-color: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 1px;

}

.botoes a button:hover{
    transform: scale(1.1);
}

.endereco{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    font-weight: bold;
}

.copy{
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid;
    padding-top: 20px;
}

.copy p{
    font-size: 16px;
    margin: 0;
}
